
.login-holder{
    height: 100%;
    position: absolute;
     width: 100%;
     background-image: url("../../../assets/images/numbers-background.jpg");
     background-repeat: no-repeat;
     background-size: 100% auto; }


.login-page{
    width: 360px;
    padding: 10% 0 0 !important;
    margin: auto !important;
    
}


.login-form{
    background-color: white;
    opacity: 0.8;
	text-align: center;
	padding-bottom: 20px;
}



.login-logo{
    height: 80px;
    width: 200px;
    background-image: url("../../../assets/images/logo.png");
    background-size: 200px 75px;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 10px;
}

.login-page .form button {
  width: 50% !important;
  padding: 8px !important;
  border-radius: 0 !important;
}


background {
    opacity: 0.2;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.logoin-text {
    font-weight: normal;
    font-size: 17px;
    color: #909090;
    margin-bottom: 22px;
    display: block;
}

.login-page .form {
    background: rgba(255,255,255,0.7) !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.login-page form button {
    width: 50% !important;
    padding: 8px !important;
    border-radius: 0 !important;
    text-transform: uppercase;
    outline: 0;
    background: #cc0000;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
	margin-top: 10px;
}

text-center{
text-align : center;
}

.form-input{
margin: auto;
    height: 34px !important;
    margin-bottom: 10px;
    width: 80%;
    padding-left: 5px;}

  /* .white-box{
    background-color: #FFF;
    border: 1px solid #e7e7e7;
    float: left;
    width: 100%;
    padding: 10px 10px 10px;
    margin-bottom: 10px;
  }
   */